.right-section-container{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* left seciton */
.left-section-div{
        margin-top: 20%;
        margin-left: 45%;
        margin-right: 5%;
}
/* left end */


/* right seciton */
.right-section-div{
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 45%;
}
/* right end */

/* media screen */
@media screen and (max-width: 600px) {
  .left-section-div{
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .right-section-div{
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 992px) {
  .left-section-div{
    margin-top: 40%;
    margin-left: 5%;
    margin-right: 10%;
  }
  .right-section-div{
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 10%;
  }
}
/* end screen */
